.member_counter {
  background-image: -moz-linear-gradient(0deg, #ee390f 0%, #f9b700 100%);
  background-image: -webkit-linear-gradient(0deg, #ee390f 0%, #f9b700 100%);
  background-image: -ms-linear-gradient(0deg, #ee390f 0%, #f9b700 100%);
}






/**************** service_part css start ****************/
/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
.member_counter {
  padding: 73px 0px 73px;
}

@media (max-width: 576px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter {
    padding: 50px 0px 60px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter {
    padding: 50px 0px 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter {
    padding: 50px 0px 60px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter {
    padding: 73px 0px 73px;
  }
}

/* line 22, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
.member_counter .single_member_counter {
  text-align: center;
}

@media (max-width: 576px) {
  /* line 22, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter {
    margin: 20px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 22, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter {
    margin: 20px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 22, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter {
    margin: 20px 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 22, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter {
    margin: 20px 0px;
  }
}

/* line 41, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
.member_counter .single_member_counter img {
  width: 78px;
  height: 58px;
  display: block;
  margin-bottom: 8px;
  margin-left: -10px;
}

/* line 49, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
.member_counter .single_member_counter span {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  font-style: "Poppins", sans-serif;
}

@media (max-width: 576px) {
  /* line 49, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter span {
    line-height: 67px;
    font-size: 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 49, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter span {
    line-height: 67px;
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 49, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter span {
    line-height: 67px;
    font-size: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 49, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter span {
    line-height: 67px;
    font-size: 40px;
  }
}

/* line 76, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
.member_counter .single_member_counter h4 {
  color: #fff;
  font-size: 24px;
  font-size: 600;
  margin-top: 28px;
  text-transform: capitalize;
  position: relative;
}

/* line 84, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
.member_counter .single_member_counter h4:after {
  position: absolute;
  left: 0;
  top: -20px;
  right: 0;
  margin: 0 auto;
  width: 60px;
  height: 1px;
  background-color: #fff;
  content: "";
}

@media (max-width: 576px) {
  /* line 84, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter h4:after {
    top: -10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 84, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter h4:after {
    top: -10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 84, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter h4:after {
    top: -10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 84, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter h4:after {
    top: -10px;
  }
}

@media (max-width: 576px) {
  /* line 76, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter h4 {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 76, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter h4 {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 76, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter h4 {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 76, E:/172 Etrain Education/172_Etrain_Education_html/sass/_member_counter.scss */
  .member_counter .single_member_counter h4 {
    margin-top: 10px;
  }
}