* {
    margin: 0;
    padding: 0;
}

cbg {
    background-image: url(../images/workflix\ background.jpg);
    background-size: cover;
}


carea {
    position: relative;
}


.centered {
    color: whitesmoke;
    font-size: 75px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.custom_card {
    background-color:#4a83d8; 
    color: white
}

.custom_card2 {
    background-color:#3575d3;
    color: white
}

ul li {
    list-style: none;
}

clang {
    color: white;
    float: left;
    inline-size: auto;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.head-buttons a {
    padding: 3px;
}

.separator {
    width: 70px;
    height: 2px;
    background-color: green;
    display: block;
}

.separator-two {
    width: 210px;
    height: 1px;
    background-color: white;
    display: block;
}

.projects marquee {
    height: 200px;
}

.social {
    float: left;
    padding: auto;
    padding-top: 3px;
}

.moto {
    float: left;
    font-size: 13px;
    text-align: center;
    padding: auto;
    padding-top: 5px;
}

.head-buttons {
    float: right;
    width: auto;
    text-align: center;
    padding: auto;
}

.header {
    background-color: #f7f8fa;
}

.show-in-line {
    display: inline-block;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 10px;
    margin: 0px 5px;
    color: black;
    font-size: 14px;
}

.menu ul li:hover {
    background-color: #316DC3;
    color: white;
    border-radius: 2px;
}

.header-active {
    background-color: #316DC3;
    color: white;
    border-radius: 2px;
}

.menu ul li a:hover {
    color: white;
}

.logo {
    float: left;
    width: 200px;
}

.menu {
    float: right;
    margin-top: 15px;
}

h2.main-title {
    text-align: center  ;
    color:  #000000;
    margin: 15px 0px;
}

.second-color {
    color: rgb(221, 20, 20)
}

marquee.slide-marquee {
    background-color: #343a40;
    color: white;
    
}

p.p-title {
    margin: auto;
    margin-top: 0px;
    padding: auto;
}


.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }


.gallery-block.grid-gallery{
    padding-bottom: 60px;
    padding-top: 60px;
  }
  
  .gallery-block.grid-gallery .heading{
      margin-bottom: 50px;
      text-align: center;
  }
  
  .gallery-block.grid-gallery .heading h2{
      font-weight: bold;
      font-size: 1.4rem;
      text-transform: uppercase;
  }
  
  .gallery-block.grid-gallery a:hover{
    opacity: 0.8;
  }
  
  .gallery-block.grid-gallery .item img{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
  }
  
  .gallery-block.grid-gallery .item{
    margin-bottom: 20px;
  }
  
  @media (min-width: 576px) {
  
    .gallery-block.grid-gallery .scale-on-hover:hover{
      transform: scale(1.05);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
  }

  .white{
      color:white;
  }
