* {
    margin: 0;
    padding: 0;
}
#cmng-sn{
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../images/image7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%
}
cbg {
    background-image: url(../images/workflix%20background.jpg);
    background-size: cover;
}


carea {
    position: relative;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {	
	margin: 30px auto 50px;
	padding: 0 68px;
}
.carousel .item {
    text-align: center;
	overflow: hidden;
    height: 233px;
}
.carousel .item .img-box {
	background: #000;
    padding: 0;
}
.carousel .item img {
    margin: 0 auto;
}
.carousel .carousel-control {
	width: 68px;
	background: none;
}
.carousel .carousel-control i {
    font-size: 28px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -15px;
    z-index: 5;
    left: 0;
    right: 0;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 20px;
    height: 0px;
    border-radius: 50%;
    margin: -10px 4px;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
}
.carousel-indicators li.active {
	background: #555;
}

.custom_card {
    background-color:#4a83d8; 
    color: white
}
.custom_card2 {
    background-color:#3575d3;
    color: white
}
ul li {
    list-style: none;
}
clang {
    color: white;
    float: left;
    inline-size: auto;
}
a {
    text-decoration: none;
}
.clear {
    clear: both;
}
.head-buttons a {
    padding: 3px;
}
.separator {
    width: 70px;
    height: 2px;
    background-color: green;
    display: block;
}
.separator-two {
    width: 210px;
    height: 1px;
    background-color: white;
    display: block;
}
.projects marquee {
    height: 200px;
}
.social {
    float: left;
    padding: auto;
    padding-top: 3px;
}
.moto {
    float: left;
    font-size: 13px;
    text-align: center;
    padding: auto;
    padding-top: 5px;
}
.head-buttons {
    float: right;
    width: auto;
    text-align: center;
    padding: auto;
}
.header {
    background-color: #f7f8fa;
}
.header-active {
    background-color: #316DC3;
    color: white;
    border-radius: 2px;
}
.logo {
    float: left;
    width: 200px;
}
h2.main-title {
    text-align: center  ;
    color:  #000000;
    margin: 15px 0px;
}
.second-color {
    color: rgb(221, 20, 20)
}
marquee.slide-marquee {
    background-color: #343a40;
    color: white;
    
}
p.p-title {
    margin: auto;
    margin-top: 0px;
    padding: auto;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
 
.white{
      color:white;
  }
.video{
    position: relative;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, .1);
    display: flex;
    padding: 20px 0;
}
.video .box{
    background: #333;
    padding: 0;
    height: auto;
}
.video .box iframe{
    position: relative;
    height: 100%;
    width: 100%;
}
.video .box h1{
    color: #2e9cca;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
.video .box h1:before{
    content: '';
    position: absolute;
    margin-top: 35px;
    height: 2px;
    width: 60px;
    background: #2e9cca;
}
.video .box p{
    color: rgba(255, 255, 255, .5);
    text-align: justify;
    font-family: sans-serif;
}
.video .box iframe{
    height: 100%;
    width: 100%;
}


/*/////////QURIES////////*/
@media only screen and (max-width: 1198px){
    .carousel .item{
        height: 190px;
    }
}
@media only screen and (max-width: 767px){
    .carousel .item{
        height: 280px;
    }
}
@media only screen and (max-width: 570px){
    .carousel .item{
        height: 260px;
    }
}
@media only screen and (max-width: 470px){
    .carousel .item{
        height: 200px;
    }
}
@media only screen and (max-width: 360px){
    .carousel .item{
        height: 150px;
    }
}
/*///////////------------/////////*/
